@mixin flexD($direction: row, $justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@mixin font-source(
  $family,
  $size: false,
  $colour: false,
  $weight: false,
  $lh: false
) {
  font-family: $family;
  @if $size {
    font-size: $size;
  }
  @if $colour {
    color: $colour;
  }
  @if $weight {
    font-weight: $weight;
  }
}

//Padding mixin
@mixin padding($top, $right, $bottom, $left) {
  padding-top: $top;
  padding-right: $right;
  padding-bottom: $bottom;
  padding-left: $left;
}
//Margin mixin
@mixin margin($top, $right, $bottom, $left) {
  margin-top: $top;
  margin-right: $right;
  margin-bottom: $bottom;
  margin-left: $left;
}

@mixin size($wid: 100%, $height: 100%) {
  width: $wid;
  height: $height;
}

$desktop: 1024px;
@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: $desktop) {
      @content;
    }
  }
}

@mixin break($point) {
  @if $point == desktop {
    @media (max-width: $desktop) {
      @content;
    }
  }
  @if $point == 768 {
    @media (max-width: 786) {
      @content;
    }
  }
}
